.navbar {
    height: 65px;
    background: #ffffff;
    border-bottom: 1px solid #e2e8f0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: #1e3a8a;
}

.profile {
    display: flex;
    align-items: center;
    gap: 18px;

    font-size: 15px;
    font-weight: 600;
    color: #334155;
}